@layer base {
  :root {
    --primary: #1E40AF;
    --secondary: #9333EA;
    --accent: #FBBF24;
    --neutral: #1E293B;
    --base-100: #FFFFFF;
    --info: #3B82F6;
    --success: #10B981;
    --warning: #F59E0B;
    --error: #EF4444;
  }

  [data-theme="daytheme"] {
    --primary: #1E40AF;
    --secondary: #9333EA;
    --accent: #FBBF24;
    --neutral: #1E293B;
    --base-100: #FFFFFF;
  }
}

@layer utilities {
}
